:root{
    --grey: #31343e;
    --teal:#80cecf;
    --blue: #37587a;
    --white: #eeeef8;
  }
.wrapper {

    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: auto;  
}

@media only screen and (max-width: 900) {
.wrapper{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;}
}