:root{
    --grey: #31343e;
    --teal:#80cecf;
    --blue: #37587a;
    --white: #eeeef8;
  }


.card-title{
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom:5px;
}
.divider{
  margin-left: -5px;
  padding-top: 0px;
  padding-bottom:0px;
}

.card{
  display:flex;
  flex-direction:column;
  align-content:stretch;
  justify-content:space-between
}
.card-container{
  display:flex;
  flex-grow:4;
  flex-shrink:4;
  align-content:stretch;

}
