:root{
    --grey: #31343e;
    --teal:#80cecf;
    --blue: #37587a;
    --white: #eeeef8;
  }
nav { background-color: var(--blue);

}

span{
    margin-left: 60px;
    
}
@media screen and (max-width: 1000px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  nav {
    flex-direction: column;
  }
}